.calculadora{
    display: block;
    margin: 0 auto;
    padding:  20px;
    background: rgb(6,98,135);
background: linear-gradient(180deg, rgba(6,98,135,1) 0%, rgba(21,143,149,0.8421743697478992) 25%, rgba(30,170,136,0.7973564425770308) 50%, rgba(21,143,144,0.8393732492997199) 75%, rgba(6,98,135,1) 100%);
    width: 350px;
    height: 500px;
    border-radius: 25px;
}

.calculadora td button{
    display: block;
    width: 70px;
    height: 70px;
    font-size: 25px;
}

#resultado{
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background-color: black;
    color: dodgerblue;
    border-radius: 25px;
    overflow-y: scroll;
}